{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Own Listings</h2>
    {% for auction in auctions %}
        <a href="{% url 'listing' auction.id %}" class="container">
        <div class="row image-container">
            <img class="col-4 img" src="{{ auction.url_img }}" alt="{{ auction.title }}">
            <div class="col-8">
                <span class="title font-weight-bold">{{ auction.title }}</span><br>
                <span class="price"><strong>Price: </strong>${{ auction.starting_bid }}</span><br>
                <span class="description">{{ auction.description }}</span><br>
                <span class="datetime">Created {{ auction.created_time }}</span>
            </div>    
        </div> 
        </a>
    {% empty %}
    <h2>You own no listings.</h2>
    {% endfor %}
{% endblock %}